<!DOCTYPE html>
<html ng-app="PeoplesLibApp">
  <head>
    <title>The People's Library</title>
    <link rel="stylesheet" href="style/style.css" type="text/css">
    <script src="script/vendor.min.js"></script>

  </head>
  <body ng-controller="ListingCtrl">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
			    <h1>The People's Library</h1>
  				<h2>Media</h2>
  				<div class="media-listing">
	  				<ul class="clearfix">
	  					<li ng-repeat="media in medias">
	  						<a href="{{media.media.url}}" target="_blank" ng-if="media.coverImg"><img ng-src="{{media.coverImg}}" class="cover"/></a>
	  						<a href="{{media.media.url}}" target="_blank">{{media.info.title}}</a>
	  						<small>{{media.content_type}}</small>
	  					</li>
	  				</ul>
  				</div>
          <div>
            <label for="">Upload:</label> <input type="file" onchange="angular.element(this).scope().upload(this)" />
          </div>
  			</div>
  			
  		</div>
  	</div>

	  <script src="script/app.min.js"></script>
	</body>

</html>
